<!doctype html>
<html prefix="og: http://ogp.me/ns#">
    <head>
    <% include ./partials/header.ejs %>
    <% include ./partials/nav.ejs %>
      <link href="https://fonts.googleapis.com/css?family=Open+Sans&display=swap" rel="stylesheet">

      <style>
      div#objectbot {
        padding-top: 1em !important;
      }
      div#objectuser {
        padding-top: 1em !important;
      }
      div#objectcomments {
        padding-top: 1em !important;
      }
        code, kbd, pre, samp {
          font-family: "Open Sans", sans-serif !important;
          font-size: 1.2em !important;
        }
      </style>
  <link rel="stylesheet"
      href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.13.1/styles/default.min.css">
<script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.13.1/highlight.min.js"></script>
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/github-markdown-css/2.10.0/github-markdown.css">
            <link rel="icon" type="image/jpg" href="https://media.discordapp.net/attachments/506425178822279168/507496898823847936/dbr.png">
            <title>FAQs - Discord Bot Reviews</title>
    </head>
    <body>
          <noscript>
            <div class="alert alert-danger" role="alert">
                This website requires Javascript to work. Please enable Javascript or use a browser that supports Javascript.
            </div>
        </noscript>
      
      
          <div class="container">
           <h1>FAQs</h1>
            <hr>
            Answers to the most commonly asked questions.<br>
            <hr>

            
<div class="row">
  <div class="col-3" style="font-weight: 500;">
    <div class="nav flex-column nav-tabs" id="v-tabs-tab" role="tablist" aria-orientation="vertical">
      <a class="nav-link active" id="v-tabs-intro-tab" data-toggle="pill" href="#v-tabs-intro" role="tab"
      aria-controls="v-tabs-intro" aria-selected="false">About DBR</a>
          <a class="nav-link" id="v-tabs-dbr1-tab" data-toggle="pill" href="#v-tabs-dbr1" role="tab"
      aria-controls="v-tabs-dbr1" aria-selected="false">Bots, certification and users</a>
      <a class="nav-link" id="v-tabs-punis-tab" data-toggle="pill" href="#v-tabs-punis" role="tab"
      aria-controls="v-tabs-punis" aria-selected="false">Punishment and appeals</a>
        <a class="nav-link" id="v-tabs-aboutus-tab" data-toggle="pill" href="#v-tabs-aboutus" role="tab"
      aria-controls="v-tabs-aboutus" aria-selected="false">Meet the team</a>
       
    </div>
  </div>
  <div class="col-9">
    <div class="tab-content" id="v-tabs-tabContent">
      <div class="tab-pane fade show active" id="v-tabs-intro" role="tabpanel" aria-labelledby="v-tabs-intro-tab">
        <div id="intro"> 
          <h1 class="text-center">About DBR</h1>
          <br><hr><br>
          <center>
          <h3>
            What is DBR?
            </h3>
          <br><br>
            DBR (Discord Bot Reviews) is a botlist created mainly for developers to submit their bots and have it publicly listed. 
<br><hr><br>
            <h3>
              Who made DBR?
            </h3>
            <br><br>
            DBR was created by a team of 3 people which can be found under the "Meet the team" menu.
            <br><hr><br>
            <h3>
              Which programming language does DBR use?
            </h3>
            <br><br>
            Node.js (Javascript)
            
            <br><br>
          </center>
         </div>
      </div>
       <div class="tab-pane fade " id="v-tabs-dbr1" role="tabpanel" aria-labelledby="v-tabs-dbr1-tab">
        <div id="dbr1"> 
          <h1 class="text-center">
            Bots, certification and users
          </h1>
          
          <br><hr><br>
          <center>
          <h3>
            How do i get my bot certified (unique)?
            </h3>
          <br><br>
            
            Go to <a href="/certification">certification</a> page and see the requirements. (You must have all to pass certification)
            
            <br><br>
          </center>
         </div></div>
      <div class="tab-pane fade " id="v-tabs-punis" role="tabpanel" aria-labelledby="v-tabs-punis-tab">
        <div id="punis"> 
          <center><h1>
            Punishment and Appeals
            </h1>
          <br><hr><br>
          
          <h3>
            I have been banned, how can i appeal or request unban?
          </h3>
          <br><br>
            Bans can be permanent and final decided. These types of bans <a style="color: red;">cannot</a> be appealed.
            <br><br>
            <h5>
              What types of bans can i appeal or request unban?
            </h5>
            <br>
            You can only appeal for temporary bans and those that are not permanent. 
            <br>
            if you have been temporary banned (you will see on the banned screen telling you how long the ban durates) you can appeal after 48 Hours since the ban was issued.
            <br>
            if you have been permanently banned, you cannot appeal for unban. This is a strict decission and something we do not tolerate at all. 
            <br>
            <br>
            <a style="color:lime;">Appeal forms are currently in beta. Please wait</a>
            <h3>
              I have been falsely banned or moderator was abusing their powers, what do i do?
            </h3>
            <br><br>
            If you feel like you've been unfairly banned or you think the moderator was abusing powers you may DM an administrator (RaZeFeiXX#5557, DeluxeSmasher7#3700, Deni#0274)
          </center>
          <br><br><br><br>
        </div>
      </div>
  <div class="tab-pane fade " id="v-tabs-aboutus" role="tabpanel" aria-labelledby="v-tabs-aboutus-tab">
        <div id="aboutus"> 
          <h1 class="text-center">Meet the team</h1>
          <center>
            <h5>Meet the DBR team!</h5>
            
            <br><br><br>
            <img src="<%=bot.users.get("469716275786940416").avatarURL%>" style="border-radius:50%;width:150px;height:150px;">
            <br><br>
            <h3>
              <%=bot.users.get("469716275786940416").tag%>
            </h3>
            <h4>
              Website Owner
            </h4>
            <h5>
A man of it's own.
            </h5>
            <br><br>
                   <img src="<%=bot.users.get("432400084706131989").avatarURL%>" style="border-radius:50%;width:150px;height:150px;">
            <br><br>
            <h3>
              <%=bot.users.get("432400084706131989").tag%>
            </h3>
            <h4>
              Website Owner
            </h4>
            <h5>
A developer who uses mostly python.
            </h5>
            <br><br>
                    <img src="<%=bot.users.get("324920582665928727").avatarURL%>" style="border-radius:50%;width:150px;height:150px;">
            <br><br>
            <h3>
              <%=bot.users.get("324920582665928727").tag%>
            </h3>
            <h4>
              Website Owner
            </h4>
            <h5>
Description unavailable
            </h5>
            <br><br>
            
          </center>
          
          <br><br><br><br>
         </div>
      </div>
    

 </body>
</html>








