<!DOCTYPE HTML>
<html>
  <head>
    <title>Delete <%=bot.users.get(req.params["id"]).username%> - DBR</title>
    <% include ./partials/portalHeader.ejs %>
  </head>
  <body>
    <% include ./partials/nav.ejs %>
    <div class="container">
      <h1>
       Clear rating data for <%= bot.users.get(req.params["id"]).username %> 
      </h1>
      <hr><br>
      <form action="/modportal/clearrating" method="POST" enctype="application/x-www-form-urlencoded">
        <center>Are you really sure to delete rating data for <%= bot.users.get(req.params["id"]).username %>?<div style="color:red;display:inline-block;margin-bottom:0.5rem;"></div><br></center>
      <br><br>
        <input type="hidden" name="cli_id" value="<%=bot.users.get(req.params["id"]).id%>">
      <input type="hidden" name="deleter" value="<%=req.user.id%>">
      <center><input type="submit" class="btn btn-warning" title="Delete" value="Delete"></input>&nbsp;&nbsp;<a href="javascript:window.history.back()" class="btn btn-warning" title="Back">Cancel</a></center>
      </form><br><br>
  </body>
</html>