<!DOCTYPE HTML>
<html>
  <head>
    <title>Bot Queue - ModPortal - DBR</title>
    <% include ./partials/portalHeader.ejs %>
  </head>
  <body>
    <% include ./partials/nav.ejs %>
    <div class="container">
    <h1>
      Bots in queue (<span id="count"></span>)<hr>
    </h1>
    <% var i; var count = 0; while(bot.submission.array()[count]) { try { var userid = bot.submission.array()[count].cli_id; var submitter = bot.submission.array()[count].submitter; var q = bot.submission.array()[count]; %>
    <!-- Placeholder content -->
    <img class="queue-img">
      <span style="display:inline-block;"><h4><span class="botname"></span></h4><%= bot.submission.array()[count].short_description %><br><span class="submitter"></span><br><br><a class="btn btn-primary" href="/bot/<%= userid %>">Bot Page</a> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a class="btn btn-primary" href="/bot/<%= userid %>/verify">Accept</a> <a class="btn btn-danger" href="/bot/<%= userid %>/decline">Decline</a><br><br></span>
      <hr>
      <script>
        var userinfo = JSON.parse(httpGet("/api/uservalidate?id=<%= userid %>"))
        var img = document.getElementsByClassName("queue-img")[<%= count %>]
        img.setAttribute("src", userinfo.avatar_url)
        img.setAttribute("title", userinfo.username)
        document.getElementsByClassName("botname")[<%= count %>].innerHTML = userinfo.tag + " (" + userinfo.status.toUpperCase() + ")"
        var submitter = JSON.parse(httpGet("/api/uservalidate?id=<%= submitter %>"))
        var sign = document.getElementsByClassName("submitter")[<%= count %>]
        sign.innerHTML = "Submitted by: " + submitter.tag
      </script>
    <% } catch {}; count++; } %>
      <script>
        if (!document.getElementsByClassName("botname").length == 0) {
          document.title = "(" + document.getElementsByClassName("botname").length.toString() + ") " + document.title
        }
        document.getElementById("count").innerHTML = document.getElementsByClassName("botname").length.toString()
        setInterval(function(){location.reload()}, 180000)
      </script>
      </body>
</html>