<!DOCTYPE HTML>
<!-- SIZE: 400x170px -->
<html>
  <script src="/utils.js"></script>

  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="shortcut icon" href="https://media.discordapp.net/attachments/506425178822279168/507496898823847936/dbr.png" />
<link rel="stylesheet" type="text/css" href="/styles.css"/>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.5.6/css/mdb.min.css" />
<!-- MD Bootstrap -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.2/css/all.css" integrity="sha384-/rXc/GQVaYpyDdyxK+ecHPVYJSN9bmVFBvjA/9eOB+pb3F2w2N6fc5qB9Ew5yIns" crossorigin="anonymous">
<link rel="stylesheet" href="https://static.fontawesome.com/css/fontawesome-app.css" crossorigin="anonymous">
<!-- FONT AWESOME PRO -->
<link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.2.0/css/all.css">
<!-- Icon -->
<link rel="icon" type="image/jpg" href="https://media.discordapp.net/attachments/506425178822279168/507496898823847936/dbr.png" />
  </head>
  <body style="width:400px;">
  <div style="background-color:<%if(query.header1) {if(query.header1.length >0) {%><%="#" + query.header1%><% }} else {%>#769CDD<%}%>;height:30px">
    <center><%if(query.hideicon) {if(query.hidecon === "true") {%><% }} else {%><img style="border-radius: 50%;"src="https://media.discordapp.net/attachments/506425178822279168/507496898823847936/dbr.png" height="25px"><% } %> Discord Bot Reviews</center>
    </div>
  <div class="card" class="rounded" style="background-color:<%if(query.body) {%><%="#" + query.body%><% } else {%>#1f1f1f<% } %>;height:130px">
    <div class="card-body">
      <img src="<%= u.avatarURL %>" style="display:inline-block;vertical-align:top" height="50px;"> 
      <center style="display:inline-block;margin-left:16px"><%= u.username %> <span id="<%=u.presence.status.toLowerCase()%>" style="display:inline-block;margin-left:3px;padding:6px;height:10px;"></span> <span id="onlinePercentage" style="margin-left:10px;background-color:<%=color%>;border-radius:100px;padding:2px;font-size:13px;"><%=uptime == "no" ? "???" : uptime + "%"%></span>
        <br>Owner: <%= owner.tag %> <%if(query.removeowneravatar) {if(query.removeowneravatar === "true") {%><% }} else {%><img src="<%= owner.avatarURL || owner.defaultAvatarURL %>"  style="border-radius:50%;width:25px;height:25px;"><% } %><br>
        <%if(query.hideservers) {if(query.hideservers === "true") {%><% }} else {%>Servers: <%if(bot.stats.has(u.id)) {%> <%=bot.stats.get(u.id, "server_count")%> <% } else { %> ??? <% }} %> 
       <center><%if(query.hidelikes) {if(query.hidelikes === "true") {%><% }} else {%><span style="color:chartreuse"><% if (bot.reactions.get(q.cli_id) && bot.reactions.get(q.cli_id, "likes")) { %> <i class="fa fa-thumbs-up"></i> <%= bot.reactions.get(q.cli_id) && bot.reactions.get(q.cli_id, "likes").length %> <% } else { %> <i class="fa fa-thumbs-up"></i> 0 <% } }%><%if(query.hidedislikes) {if(query.hidedislikes === "true") {%><% }} else {%></span>&nbsp;&nbsp;<span style="color:red"><% if (bot.reactions.get(q.cli_id) && bot.reactions.get(q.cli_id, "dislikes")) { %> <i class="fa fa-thumbs-down"></i> <%= bot.reactions.get(q.cli_id) && bot.reactions.get(q.cli_id, "dislikes").length %> <% } else { %> <i class="fa fa-thumbs-down"></i> 0 <% }} %>
         &nbsp;&nbsp;<%if(query.hidecomments) {if(query.hidecomments === "true") {%><% }} else {%><span style="color: white;display:inline-block;margin:1px;"><img src="https://cdn.discordapp.com/attachments/471632432962207758/519265905180409856/nigga.png" style="width:20px;height:28px;display:inline-block;">&nbsp;<%=bot.comments.filter(r=> r.bot === q.cli_id).size%></span><% } %>
        </div></center></div>
        </span>
    
      </center>
      
      </div>
    </div>
      <div style="background-color:<%if(query.header2) {%><%="#" + query.header2%><% } else {%>#769CDD<%}%>;height:30px"><center><% const asscrack2 = bot.guilds.get("500658335217876997").members.get(q.cli_id);  if(asscrack2) {if(asscrack2.roles.has("507628704751419393")) {%> <img src="https://cdn.discordapp.com/emojis/507958292790902795.png" width="20px" height="20px"> CERTIFIED UNIQUE<% } else if (asscrack2.roles.has("511069587840827402")) {%> <img class="rounded" src="https://cdn.discordapp.com/emojis/508965618855444491.png" width="20px" height="20px">CERTIFIED VERY UNIQUE <% }} %></center>
    </div>
      </body>
    </html> 
